<web-app>
    <servlet>
        <servlet-name>SessionTrackingHitCount</servlet-name>
        <servlet-class>SessionTrackingHitCount</servlet-class>
    </servlet>
    <servlet-mapping>
	<servlet-name>SessionTrackingHitCount</servlet-name>
	<url-pattern>/SessionTrackingHitCount</url-pattern>
    </servlet-mapping>
</web-app>
